<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Strava Stats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:access_token] %>
      <header class="header">
        <nav class="navbar">&nbsp;</nav>
        <section class="user-section">
        <span><%= "#{session[:athlete_firstname]} #{session[:athlete_lastname]}" %></span> | 
        <%= link_to "Se déconnecter", "/logout", data: { method: :delete } %>
        </section>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
